body {
    margin: 0;
    padding: 0;
    background-color: #f7f1f4;
    color: #000000;
    height: 100%; /* full height of the screen */
}

header { /* style */
    background-color: #000000;
    padding: 10px;
}

header { /* positioning */
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}

nav li {
    margin-bottom: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: top center;
}

nav a:hover {
    display: inline-block;
    background-color: #9E1F63;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    transform: scale(1.1);
}

.header-port-nav ul {
    margin-top: auto;
    text-align: center;
    padding-bottom: 50px;
}

.return-to-top-link {
    display: inline-block;
    text-decoration: none;
    color: #939598;
    border-radius: 5px;
    padding: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: top center;
}

.return-to-top-link:hover {
    display: inline-block;
    background-color: #9E1F63;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    transform: scale(1.1);
}

.pagecontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-left: 300px;
    padding: 50px;
    flex: 1;
}

footer {
    z-index: 2; /* footer is "above" the header */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: 10px;
    background-color: #000000;
    color: #939598;
}

a {
    color: #939598;
}

a:visited {
    color: #939598;
}

a:hover {
    color: #9E1F63;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 300%;
    color: #9E1F63
}

h2 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 200%;
    color: #9E1F63
}

h3 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 110%;
    color: #9E1F63
}

h4 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 90%;
    color: #9E1F63
}

p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 100%;
    color: #535353
}

ul {
    color: #535353
}

figcaption {
    color: #535353
}

::selection {
    background-color: #9E1F63;
    color: #ffffff
}