body {
    margin: 0;
    padding: 0;
    background-color: #f7f1f4;
    color: #000000;
    height: 100%; /* full height of the screen */
}

/* HEADER ITEMS */

header {
    background-color: #000000;
    padding: 10px;
}

header {
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.return-to-top-link {
    align-self: center;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    margin: 15px 0;
}

nav li {
    margin-bottom: 0;
    text-align: center;
}

nav a {
    color: #939598;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: top center;
}

nav a:hover {
    display: inline-block;
    background-color: #9E1F63;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    transform: scale(1.1);
}

.header-port-nav ul {
    margin-top: auto;
    text-align: center;
    padding-bottom: 50px;
}

.pagecontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* MAIN CONTENT */

main {
    margin-left: 300px;
    padding: 50px;
    flex: 1;
}

/* FOOTER */

footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #000000;
    color: #939598;
    padding-right: 20px;
}

/* LINKS */
a {
    color: #9E1F63;
}

a:visited {
    color: #939598;
}

a:hover {
    color: #939598;
}

/* HEADINGS / TEXT */
h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 300%;
    color: #9E1F63
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 200%;
    color: #9E1F63
}

h3 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-size: 110%;
    color: #ffffff;
    background-color: #9E1F63;
    border-radius: 10px;
    padding: 10px;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    font-size: 125%;
    color: #9E1F63
}

h5 {
    font-family: "Quicksand", sans-serif;
    font-size: 90%;
    color: #9E1F63
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    color: #535353
}

strong {
    font-size: 110%;
}

ul {
    color: #535353;
    font-family: "Quicksand", sans-serif;
}

figcaption {
    color: #535353;
    font-family: "Roboto", sans-serif;
}

table {
    font-family: "Quicksand", sans-serif;
}

::selection {
    background-color: #9E1F63;
    color: #ffffff
}

/* FORMS */

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

label {
    font-family: "Quicksand", sans-serif;
    color: #9E1F63;
    font-weight: bold;
    padding-top: 20px;
}

input {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}


/* collapsible menu for mobile??? */
@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        background-color: #000; /* Ensure background is visible */
        z-index: 999; /* Keep it above other elements */
    }

    header.open {
        transform: translateX(0);
    }

    .header-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
        background: #000000;
        color: #939598;
        border: none;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    main {
        margin-left: 0; /* Remove left margin when menu is open */
        padding: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .header-toggle {
        display: none; /* Hide toggle button on larger screens */
    }
}